# Backend
/backend/node_modules
/backend/.env

# Frontend
/frontend/node_modules
/frontend/.env


#                                                       _...--.
#                                       _____......----'     .'
#                                 _..-''                   .'
#                               .'                       ./
#                       _.--._.'                       .' |
#                    .-'                           .-.'  /
#                  .'   _.-.                     .  \   '
#                .'  .'   .'    _    .-.        / `./  :
#              .'  .'   .'  .--' `.  |  \  |`. |     .'
#           _.'  .'   .' `.'       `-'   \ / |.'   .'
#        _.'  .-'   .'     `-.            `      .'
#      .'   .'    .'          `-.._ _ _ _ .-.    :
#     /    /o _.-'  R1NZLER15   .--'   .'   \   |
#   .'-.__..-'                  /..    .`    / .'
# .'   . '                       /.'/.'     /  |
#`---'                                   _.'   '
#                                      /.'    .'
#                                       /.'/.'
# Project: challenge_chat
# Author: R1NZLER15 (H. Manuel Cobian)
# Date: 2024